<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/img/cropped-GCT-favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

</body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Crystal logo light blue on offwhite.jpg">
    </div>
    {{>footer}}
</html>